<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Clientes</title>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Sweet Alert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../Asset/css/Pages.css">
</head>

<body>
    <!-- Modal de registro de clientes -->
    <div class="modal fade" id="modalCliente" tabindex="-1" aria-labelledby="modalClienteLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalClienteLabel">Registro de Clientes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="clienteForm">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="documentType" class="form-label">Tipo de Documento</label>
                                <select class="form-select" id="documentType" required>
                                    <option value="Cedula de Ciudadania">C.C</option>
                                    <option value="Pasaporte">P.S</option>
                                    <option value="Cedula Extranjera">C.E</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="document" class="form-label">Número de documento:</label>
                                <input type="text" class="form-control" id="document" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="fisrtNames" class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="fisrtNames" required />
                            </div>
                            <div class="col-sm-6">
                                <label for="fisrtLastNames" class="form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="fisrtLastNames" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="phoneNumber" class="form-label">Telefono:</label>
                                <input type="text" class="form-control" id="phoneNumber" required />
                            </div>
                            <div class="col-sm-6">
                                <label for="address" class="form-label">Direccion:</label>
                                <input type="text" class="form-control" id="address" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="city" class="form-label">Ciudad:</label>
                                <input type="text" class="form-control" id="city" required />
                            </div>
                            <div class="col-sm-6">
                                <label for="status" class="form-label">Estado:</label>
                                <select id="status" class="form-select" required>
                                    <option value="false">Habilitado</option>
                                    <option value="true">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-success" id="guardarCliente">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="../Asset/js/clientes.js"></script>

    <script>
        // Mostrar el modal de registro de clientes al cargar la página
        $(document).ready(function () {
            $('#modalCliente').modal('show');
    
            // Manejar el clic en el botón "Guardar"
            $('#guardarCliente').click(function () {
                // Obtener los datos del formulario
                var documentType = $('#documentType').val();
                var documentNumber = $('#document').val();
                var firstName = $('#fisrtNames').val();
                var lastName = $('#fisrtLastNames').val();
                var phoneNumber = $('#phoneNumber').val();
                var address = $('#address').val();
                var city = $('#city').val();
                var status = $('#status').val();
                $('#modalCliente').modal('hide');
                Swal.fire({
                    icon: 'success',
                    title: 'Cliente registrado exitosamente',
                    showConfirmButton: false,
                    timer: 1500
                }).then(function () {
                    window.close
                })
            });
        });
    </script>
    
</body>

</html>
